*,
body,
html {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

body {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 56px !important;
  line-height: 84px;
}

h2 {
  font-size: 48px !important;
  line-height: 72px;
}

h3 {
  font-size: 40px !important;
  line-height: 60px;
}

h4 {
  font-size: 32px !important;
  line-height: 48px;
}

h5 {
  font-size: 24px !important;
  line-height: 36px;
}

a {
  font-size: 16px;
  line-height: 24px;
}

body {
  background: url(./assets/bg.png);
  background-size: cover;
}

section {
  padding: 30px;
  max-width: 1600px;
  width: 100vw;
}

.section-c {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 50px;
}

.navbar {
  background: #0006;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .navbar-c {
    max-width: 1600px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

.logo {
  padding: 10px 25px;
  border-radius: 15px;
  background: #fff8;
  max-width: 300px;
}

#logo {
  height: 60px;
}

.search {
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 10px 25px;
  color: rgba(255, 255, 255);

  input {
    background: none;
    outline: none;
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
}

.login,
.cart,
.btn {
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  transition: 300ms ease-in-out;
  gap: 0.5rem;

  img {
    max-width: 30px;
  }

  &:hover {
    cursor: pointer;
    background: #0008;
    border: #000 1px solid;
    border-radius: 15px;
  }
}

.nav-btn {
  a {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    transition: 500ms ease-in-out;
    border-bottom: 2px solid #0000;

    &:hover {
      cursor: pointer;
      color: white;
      background: rgba(0, 0, 0, 0.2);
      border-bottom: 2px #fff solid;
    }
  }
}

.sec-1 {
  h1 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
  }

  h5 {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
  }
}

.sec-2 {
  h1 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
  }

  h5 {
    font-weight: 600;
  }
  p {
    font-weight: 500;
  }

  .prod-container {
    max-width: 1600px;
  }

  .prod-card {
    max-width: 250px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;

    h5 {
      font-size: 18px !important;
      line-height: 1.5em;
    }

    img {
      border-radius: 10px;
    }

    transition: 300ms ease-in-out;
    &:hover {
      cursor: pointer;
      scale: 1.025;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .btn {
    border: rgba(0, 0, 0, 0.2) 2px solid;
    color: rgba(0, 0, 0, 0.6);

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.sec-2-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  .type-card {
    max-width: 250px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);

    h5 {
      font-size: 18px !important;
      line-height: 1.5em;
    }

    transition: 400ms ease-in-out;
    &:hover {
      cursor: pointer;
      scale: 1.025;
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}

footer {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  width: 20px !important;
  height: 20px !important;
}

.size-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  gap: 5px;
  padding: 30px 0;  

  label {
    border: 1px solid #0006;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background 300ms, color 300ms;
    cursor: pointer;
  }

  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background: #fff8;
  }

  label:hover {
    background: #fff8;
  }
}

